<div class="container">
  <header><img src="" class="img-responsive main-image"></header>
  <div class="col-md-8 col-md-offset-2">
    <h2>Welcome, <%= @user.username %></h2>

    <div class="content">
      <% if flash.has?(:message) %>
        <p><b><%= flash[:message] %></b></p>
      <% end %>
      <p>
        <ul>
          <% @user.medicines.each.with_index(1) do |medicine, index| %>
            <li><h3><%= index %>. <a href="/medicines/<%= medicine.id %>"><%= medicine.name %></a></h3></li>
            <li>Strength: <%= medicine.strength %></li>
            <li>Prescribing Doctor: <%= medicine.doctor %></li>
            <li>Number per day: <%= medicine.dose_number %></li>
            <li>Instructions: <%= medicine.dose_instructions %></li>
            <li>Call for a refill: <%= medicine.call_for_refill.strftime("%b %-d, %Y") %></li>
            <li>Current bottle will run out: <%= medicine.refill_date.strftime("%b %-d, %Y") %></li>
          <% end %>
        </ul>
      </p>

      <form method="get" action="/medicines/new">
        <input type="submit" value="Add a new medicine"/>
      </form>
      <form method="get" action="/logout">
        <input type="submit" value="Logout"/>
      </form>
      <br></br>
    </div>

    <div class="sidebar">
      <h3></h3>
      <ul>
        <li>
        </li>
      </ul>
    </div>

  </div>
</div>
