<div class="container">
  <header><img src="" class="img-responsive main-image"></header>
  <div class="col-md-8 col-md-offset-2">
    <h2>Welcome, <%= @user.username %></h2>

    <div class="content">
      <p>
        <ul>
          <% @user.medicines.each do |medicine| %>
            <li><h3><a href="#"><%= medicine.name %></a></h3></li>
            <li><%= medicine.strength %></li>
            <li><%= medicine.doctor %></li>
            <li><%= medicine.dose_number %></li>
            <li><%= medicine.dose_instructions %></li>
            <li><%= medicine.refill_date %></li>
          <% end %>
        </ul>
      </p>
      <form method="get" action="/logout">
        <input type="submit" value="Logout"/>
      </form>
      <br></br>
    </div>

    <div class="sidebar">
      <h3></h3>
      <ul>
        <li>
        </li>
      </ul>
    </div>

  </div>
</div>
